{% extends 'base.html' %}
{% load static %}
{% block content %}
<script type="text/javascript">
    function profileEditClick() {
        if ("{{request.user.id}}" === "{{user.id}}") {
            document.querySelector('[id=profile_image]').click();
        }
    }

    function editProfileImage() {
        var form = document.getElementById('modifyImageForm');
        form.submit();
    }

    function showEditForm() {
        var editForm = document.querySelectorAll(".edit-form");
        var viewForm = document.querySelectorAll(".view-form");

        viewForm.forEach(function(element) {
            element.style.display = "none";
        });

        editForm.forEach(function(element) {
            element.style.display = "block";
        });
    }
</script>

<body>
    <header id="masthead" class="masthead vh-100" style="background-image: url({% static 'assets/img/cloud.jpg' %});">
        <div class="position-relative px-4 px-lg-5 h-100" style="min-height:470px;">
            <div class="row gx-4 gx-lg-5 justify-content-center h-100">
                <!-- 왼쪽 박스 -->
                <div class="col-md-3 mb-4 mb-md-0">
                    <div class="card text-center shadow-lg h-100 bg-transparent">
                        <div class="card-body d-flex justify-content-center align-items-center">
                            <p>왼쪽 박스</p>
                        </div>
                    </div>
                </div>

                <!-- 중앙 박스 -->
                <div class="col-md-4">
                    <div class="card text-center shadow-lg h-100">
                        <!-- 프로필 이미지 -->
                        <div class="card-body position-relative">
                            <form method="post" id="modifyImageForm" enctype="multipart/form-data" action="{% url 'users:modify_profile_image' %}">
                                {% csrf_token %}
                                <input type="file" onchange="editProfileImage()" id="profile_image" name="profile_image" style="display:none;">
                            </form>
                            {% if user.profile_image %}
                            <img src="{{ user.profile_image.url }}" onclick="profileEditClick()" class="rounded-circle border border-white position-absolute top-0 translate-middle pointer" style="width: 120px; height: 120px; left: 50%; object-fit: cover; transform: translate(-50%, -50%);" width="120" height="120">
                            {% else %}
                            <img src="{% static 'assets/img/profile.jpg' %}" onclick="profileEditClick()" class="rounded-circle border border-white position-absolute top-0 translate-middle pointer" style="width: 120px; height: 120px; left: 50%; object-fit: cover; transform: translate(-50%, -50%);" width="120" height="120">
                            {% endif %}
                            <!-- 통계 정보 -->
                            <div class="d-flex justify-content-around mt-5 pt-5">
                                <div class="flex-grow-1 text-center mx-2" style="min-width: 80px; max-width: 150px;">
                                    <h5 class="mb-0">0</h5>
                                    <small class="text-muted">방문자 수</small>
                                </div>
                                <div class="flex-grow-1 text-center mx-2" style="min-width: 80px; max-width: 150px;">
                                    <h5 class="mb-0">{{ post_count }}</h5>
                                    <small class="text-muted">게시글</small>
                                </div>
                                <div class="flex-grow-1 text-center mx-2" style="min-width: 80px; max-width: 150px;">
                                    <h5 class="mb-0">{{ comment_count }}</h5>
                                    <small class="text-muted">댓글</small>
                                </div>
                            </div>
                            <!-- 사용자 정보 -->
                            <form method="post" action="{% url 'users:modify_profile' %}">
                                {% csrf_token %}
                                <div class="mt-4">
                                    <div class="view-form">
                                        <h4>{{ user.nickname }}</h4>
                                        <p class="text-muted mb-1">{{ user.blog_title }}</p>
                                        <p>{{ user.blog_introduce }}</p>
                                    </div>
                                    <div class="edit-form" style="display:none;">
                                        {{form.nickname}}
                                        {{form.blog_title}}
                                        {{form.blog_introduce}}
                                    </div>
                                </div>
                                <!-- 버튼 -->
                                {% if user == request.user %}
                                <div class="d-flex justify-content-around mt-3">
                                    <button type="button" onclick="showEditForm()" class="btn btn-primary view-form">수정</button>
                                    <button type="submit" class="btn btn-primary edit-form" style="display:none;">저장</button>
                                </div>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>

                <!-- 오른쪽 박스 -->
                <div class="col-md-3 mb-4 mb-md-0">
                    <div class="card text-center shadow-lg h-100 d-flex flex-column bg-transparent">
                        <!-- 프로필 이미지 및 텍스트 리스트 -->
                        <div class="card-body overflow-auto d-flex flex-column" style="flex-grow: 1; max-height: 300px;">
                        {% for guest_book in guest_books %}
                            <div class="d-flex align-items-center mb-1 p-2">
                                {% if guest_book.write_user.profile_image %}
                                    <img src="{{ guest_book.write_user.profile_image.url }}" class="rounded-circle me-3" style="width: 50px; height: 50px; object-fit: cover;" alt="프로필 이미지">
                                {% else %}
                                    <img src="{% static 'assets/img/profile.jpg' %}" class="rounded-circle me-3" style="width: 50px; height: 50px; object-fit: cover;" alt="프로필 이미지">
                                {% endif %}
                                <div>
                                     <div class="text-start">
                                        <p class="m-0 fs-7">{{ guest_book.write_user.nickname }}</p>
                                        <p class="m-0 fs-6">{{ guest_book.content }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                        {% if request.user.is_authenticated %}
                        <div class="card-footer mt-auto">
                            <form method="post" action="{% url 'users:save_guest_book' %}">
                                {% csrf_token %}
                                <input type="hidden" name="targetUserName" value="{{user.username}}">
                                {{ guest_book_form.content }}
                                <button type="submit" class="btn btn-primary w-100">작성</button>
                            </form>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="position-absolute bottom-10 start-50 translate-middle-x mb-3">
            <i class="bi bi-chevron-double-down text-white fs-1" style="font-size: 2rem;"></i>
        </div>
    </header>

    <div class="container mt-4">
        {% for board in boards %}
        <a href="{% url 'board:board_detail' board_id=board.id %}">
            <div class="card mb-5">
                <div class="row g-0">
                    <div class="col-md-4">
                        <div class="position-relative w-100" style="height: 100%;">
                            {% if board.thumbnail_image %}
                            <img src="{{ board.thumbnail_image.url }}" class="img-fluid rounded-start position-absolute" style="top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;">
                            {% else %}
                            <img src="{% static 'assets/img/cloud.jpg' %}" class="img-fluid rounded-start position-absolute" style="top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;">
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title d-flex justify-content-between align-items-center">
                                <span>{{ board.title }}</span>
                                <span>
                                    <i class="bi bi-eye"></i>
                                    <span class="ms-2">{{ board.views }}</span>
                                </span>
                            </h5>
                            <p class="card-text">{{ board.subTitle }}</p>
                            <p class="card-text">
                                <i class="bi bi-calendar-event me-2"></i>
                                <small class="text-body-secondary">{{ board.modifyDate | date:'Y-m-d H:i' }}</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center pagination-lg">
                <li class="page-item">
                    <a class="page-link" href="?page=1&searchTitle={{ request.GET.searchTitle }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% for num in boards.paginator.page_range %}
                <li class="page-item"><a class="page-link" href="?page={{ num }}&searchTitle={{ request.GET.searchTitle }}">{{ num }}</a></li>
                {% endfor %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ boards.paginator.num_pages }}&searchTitle={{ request.GET.searchTitle }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

</body>
{% endblock%}