{% extends 'base.html' %}
{% load static %}
{% block content %}
<script type="text/javascript">
    function editComment(commentId, content) {
        var commentDiv = document.getElementById("comment-" + commentId);
        var contentDiv = commentDiv.querySelector(".content");
        var editForm = commentDiv.querySelectorAll(".edit-form");
        var viewForm = commentDiv.querySelector(".view-form");

        contentDiv.style.display = "none";
        viewForm.style.display = "none";
        editForm.forEach(function(element) {
            element.style.display = "block";
        });

        var textarea = document.querySelector(".edit-form textarea");
        textarea.value = content;
    }

    function cancelEdit(commentId) {
        var commentDiv = document.getElementById("comment-" + commentId);
        var contentDiv = commentDiv.querySelector(".content");
        var editForm = commentDiv.querySelectorAll(".edit-form");
        var viewForm = commentDiv.querySelector(".view-form");

        contentDiv.style.display = "block";
        viewForm.style.display = "block";
        editForm.forEach(function(element) {
            element.style.display = "none";
        });
    }

    function setFormAction(actionUrl, commentId) {
        var form = document.getElementById('commentForm-' + commentId);
        form.action = actionUrl;
        form.submit();
    }
</script>
<body>
    <!-- Page Header-->
    {% if board.thumbnail_image %}
        <header id="masthead" class="masthead" style="background-image: url({{ board.thumbnail_image.url }});">
    {% else %}
        <header id="masthead" class="masthead" style="background-image: url({% static 'assets/img/cloud.jpg' %});">
    {% endif %}
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="post-heading">
                        <h1>{{ board.title }}</h1>
                        <h2 class="subheading">{{ board.subTitle }}</h2>
                        <span class="meta">
                            Posted by
                            <a href="#!">{{ board.user.nickname }}</a>
                            on {{ board.modifyDate | date:'Y-m-d H:i' }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Post Content-->
    <article class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7 text-break">
                    {{ board.content | linebreaksbr}}
                </div>
            </div>
            {% if board.user == request.user or request.user.is_superuser%}
            <div class="d-flex flex-row-reverse">
                <form method="post" action="/board/write/">
                    {% csrf_token %}
                    <input type="hidden" id="boardId" name="boardId" value="{{ board.id }}">
                    <button type="submit" class="btn btn-secondary">수정</button>
                    <button type="button" class="btn btn-danger" onclick="location.href='/board/remove/{{ board.id }}'">삭제</button>
                </form>
            </div>
            {% endif %}
            <hr>
            {% if request.user.is_authenticated %}
            <div class="card my-4">
                <h5 class="card-header">댓글 등록</h5>
                <div class="card-body">
                    <form method="post" action="/comment/save">
                        {% csrf_token %}
                        <input type="hidden" name="boardId" value="{{ board.id }}">
                        <div class="form-group">
                            <textarea name="content" class="form-control" rows="3"></textarea>
                        </div>
                        <div class="d-flex flex-row-reverse">
                            <button type="submit" class="btn btn-secondary mt-3">등록</button>
                        </div>
                    </form>
                </div>
            </div>
            {% endif %}
            {% for comment in comments %}
            <form method="post" id="commentForm-{{ comment.id }}">
                {% csrf_token %}
                <input type="hidden" name="boardId" value="{{ board.id }}">
                <input type="hidden" name="commentId" value="{{ comment.id }}">

                <div class="media mb-4" id="comment-{{ comment.id }}">
                    <img class="d-flex mr-3 rounded-circle">
                    <div class="media-body">
                        <h5 class="mt-0">{{ comment.user.nickname }}</h5>
                        <div class="content text-break">
                            {{ comment.content | linebreaksbr }}
                        </div>
                        <div class="edit-form" style="display: none;">
                            <textarea name="content" class="form-control" rows="3">{{ comment.content }}</textarea>
                        </div>
                    </div>
                    {% if comment.user == request.user or request.user.is_superuser%}
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <div class="view-form">
                            <button type="button" class="btn btn-secondary btn-sm" onclick="editComment({{ comment.id }}, '{{ comment.content|escapejs }}')">수정</button>
                            <button type="button" class="btn btn-danger btn-sm" onclick="setFormAction('/comment/remove', {{ comment.id }})">삭제</button>
                        </div>
                        <div class="edit-form" style="display: none;">
                            <button type="button" class="btn btn-primary btn-sm" onclick="setFormAction('/comment/save', {{ comment.id }})">저장</button>
                            <button type="button" class="btn btn-secondary btn-sm" onclick="cancelEdit({{ comment.id }})">취소</button>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </form>
            {% endfor %}
        </div>
    </article>
</body>
{% endblock%}