{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>
    <!-- Page Header-->
    <header class="masthead" style="background-image: url({% static 'assets/img/cloud.jpg' %})">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="post-heading">
                        <h1>{{ board.title }}</h1>
                        <h2 class="subheading">{{ board.subTitle }}</h2>
                        <span class="meta">
                            Posted by
                            <a href="#!">{{ board.user.nickname }}</a>
                            on {{ board.modifyDate | date:'Y-m-d H:i' }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Post Content-->
    <article class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    {{ board.content | linebreaksbr}}
                </div>
            </div>
            {% if board.user == request.user or request.user.is_superuser%}
            <div class="d-flex flex-row-reverse">
                <form method="post" action="/board/write/">
                    {% csrf_token %}
                    <input type="hidden" id="boardId" name="boardId" value="{{ board.id }}">
                    <button type="submit" class="btn btn-secondary">수정</button>
                    <button type="button" class="btn btn-danger" onclick="location.href='/board/remove/{{ board.id }}'">삭제</button>
                </form>
            </div>
            {% endif %}
        </div>
    </article>
</body>
{% endblock%}