<!DOCTYPE html>
<html lang="ko">
<body>
    <nav class="navbar navbar-expand-lg navbar-light sticky-top" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="/">JR</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto py-4 py-lg-0">
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/">Home</a></li>
                    {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a href="{% url 'users:mypage' username=request.user.username %}" class="nav-link px-lg-3 py-3 py-lg-4">{{ request.user.nickname }}님</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'users:logout' %}" class="nav-link px-lg-3 py-3 py-lg-4">
                                <i class="bi bi-box-arrow-right btn-sm me-2"></i>로그아웃
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{% url 'users:login' %}" class="nav-link px-lg-3 py-3 py-lg-4">
                                <i class="bi bi-box-arrow-in-right me-2"></i>로그인
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'users:signup' %}" class="nav-link px-lg-3 py-3 py-lg-4">
                                <i class="bi bi-person-square me-2"></i>회원가입
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>