{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Page Header-->
<form method="get" action="/">
<header class="masthead" style="background-image: url({% static 'assets/img/cloud.jpg' %})">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-8">
                <input type="text" id="searchTitle" name="searchTitle" class="form-control form-control-lg shadow-lg rounded" placeholder="게시글 제목을 입력하세요.">
            </div>
            <div class="col-2">
                <button type="submit" class="btn btn-outline-light py-3 px-4" onclick="location.href='?searchTitle={{ request.GET.searchTitle }}'"><i class="bi bi-search"></i></button>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for board in boards %}
                <div class="col">
                    <div class="card h-100">
                        <a href="{% url 'board:board_detail' board_id=board.id %}">
                            {% if board.thumbnail_image %}
                                <img src="{{ board.thumbnail_image.url }}" class="card-img-top">
                            {% else %}
                                <img src="{% static 'assets/img/cloud.jpg' %}" class="card-img-top">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title d-flex justify-content-between align-items-center">
                                    <span>{{ board.title }}</span>
                                    <span>
                                        <i class="bi bi-eye"></i>
                                        <span class="ms-2">{{ board.views }}</span>
                                    </span>
                                </h5>
                                <p class="card-text">{{ board.subTitle }}</p>
                            </div>
                        </a>
                        <div class="card-footer">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center">
                                    <a href="{% url 'users:mypage' username=board.user.username %}">
                                        {% if board.user.profile_image %}
                                        <img src="{{ board.user.profile_image.url }}" class="me-3 rounded-circle img-fluid" style="width: 50px; height: 50px; object-fit: cover;">
                                        {% else %}
                                            <img src="{% static 'assets/img/profile.jpg' %}" class="me-3 rounded-circle img-fluid" style="width: 50px; height: 50px; object-fit: cover;">
                                        {% endif %}
                                        <small class="text-body-secondary">{{ board.user.nickname }}</small>
                                    </a>
                                </div>
                                <span>
                                    <i class="bi bi-calendar-event"></i>
                                    <small class="text-body-secondary">{{ board.modifyDate | date:'Y-m-d H:i' }}</small>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- Pager-->
            </div>
            {% if request.user.is_authenticated %}
            <div class="d-flex justify-content-end mb-4 mt-4">
                <a class="btn btn-outline-secondary rounded" href="{% url 'board:board_write' %}">등록</a>
            </div>
            {% endif %}
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center pagination-lg">
                    <li class="page-item">
                        <a class="page-link" href="?page=1&searchTitle={{ request.GET.searchTitle }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% for num in boards.paginator.page_range %}
                    <li class="page-item"><a class="page-link" href="?page={{ num }}&searchTitle={{ request.GET.searchTitle }}">{{ num }}</a></li>
                    {% endfor %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ boards.paginator.num_pages }}&searchTitle={{ request.GET.searchTitle }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
</div>
</form>
{% endblock%}