{% extends 'base.html' %}
{% block content %}
<body>
    <!-- Page Header-->
    <form method="post" action="/board/save/">
        {% csrf_token %}
        <input type="hidden" id="boardId" name="boardId" value="{{ board.id }}">
        <header class="masthead" style="background-image: url('assets/img/post-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <div class="row mb-3">
                                <input type="text" id="title" name="title" value="{{ board.title }}" class="h1-input mb-1 no-outline" placeholder="타이틀을 입력해주세요"/>
                                <input type="text" id="subTitle" name="subTitle" value="{{ board.subTitle }}" class="h2-input no-outline" placeholder="서브타이틀을 입력해주세요"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <textarea id="content" name="content" class="write-textarea no-outline" placeholder="내용을 입력해주세요">{{ board.content }}</textarea>
                    </div>
                </div>
                <div class="d-flex flex-row-reverse">
                    <button type="submit" class="btn btn-secondary">저장</button>
                </div>
            </div>
        </article>
    </form>

    <script type="text/javascript">
        const DEFAULT_HEIGHT = 30; // textarea 기본 height

        const $textarea = document.querySelector('#content');

        $textarea.oninput = (event) => {
          const $target = event.target;

          $target.style.height = 0;
          $target.style.height = DEFAULT_HEIGHT + $target.scrollHeight + 'px';
        };
    </script>
</body>
{% endblock%}