{% extends 'base.html' %}
{% load static %}
{% block content %}
{{form.media}}
<body>
    <!-- Page Header-->
    <form method="post" enctype="multipart/form-data" action="{% url 'board:save_board' %}">
        {% csrf_token %}
        <input type="hidden" id="boardId" name="boardId" value="{{ board.id }}">
    {% if board.thumbnail_image %}
        <header id="masthead" class="masthead" style="background-image: url({{ board.thumbnail_image.url }});">
    {% else %}
        <header id="masthead" class="masthead" style="background-image: url({% static 'assets/img/cloud.jpg' %});">
    {% endif %}
            {% for message in board.error_messages %}
            <div class="position-absolute top-20 start-50 translate-middle alert alert-danger" role="alert">
                {{ message }}
            </div>
            {% endfor %}
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <div class="row mb-3">
                                <input type="text" id="title" name="title" value="{{ board.title }}" class="h1-input mb-1 no-outline notClick" placeholder="타이틀을 입력해주세요"/>
                                <input type="text" id="subTitle" name="subTitle" value="{{ board.subTitle }}" class="h2-input no-outline notClick" placeholder="서브타이틀을 입력해주세요"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="position-absolute bottom-0 w-100 d-flex justify-content-end p-3">
                <button type="button" class="btn btn-outline-light" id="background-button">배경 바꾸기</button>
            </div>
        </header>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 w-100">
                        {{ board.thumbnail_image }}
                        {{form.content}}
                    </div>
                </div>
                <input type="file" onchange="readURL(this)" id="thumbnail_image" name="thumbnail_image" style="display:none;">
                <div class="d-flex flex-row-reverse">
                    <button type="submit" class="btn btn-secondary mt-2">저장</button>
                </div>
            </div>
        </article>
    </form>

    <script type="text/javascript">
        <!-- 썸네일 변경 -->
        $backgroundButton.onclick = (event) => {
            document.querySelector('[id=thumbnail_image]').click();
        };

        function readURL(input) {
            if (input.files && input.files[0]) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    const masthead = document.getElementById('masthead');
                    masthead.style.backgroundImage = `url(${reader.result})`;
                };
                reader.readAsDataURL(event.target.files[0]);
            }
        }
        <!-- // 썸네일 변경 -->
    </script>
</body>
{% endblock%}